<div class="footer" id="footer">
    Application created with <a style="color: red !important;text-decoration: none;">❤️</a> by <a href="/twitter"> Atog</a>
</div>
<script src="/public/js/alerts.js"></script>
<script src="/public/js/now-ui-kit.min.js"></script>

</body>
</html>