<%- include('header.ejs') %>
<div class="heading font text-center">
    <h1 class="display-5 title">Ancestry</h1>
    <p class="subtitle">Ancestry es una comunidad que se dedica al testeo de vulnerabilidades de páginas web</p>
    <a class="btn btn-primary btn-lg" href="/user-interface">Interface</a>
    <a class="btn btn-secondary btn-lg" href="/discord">Discord server</a>
</div>
	
<div class="crctts text-center color">
	<h1 class="display-5 title">Características</h1>
	<p class="subtitle">Servicios que ofrecemos en nuestra comunidad.</p>
	
</div>
<%- include('footer.ejs') %>